*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: rgb(245, 245, 245);
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: teal;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding:  5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: rgb(230, 230, 230);
}

header img {
    width: 30px; 
    height: auto; 
}

#descripcion .texto{
    width: 100%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formularios nav{
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

#formularios a{
    padding:  5px 0px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#formularios nav a:hover{
    color: teal;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px){
    header{
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #descripcion .container{
        display: flex;
        justify-content: space-evenly;
    }

}